dist
node_modules
.env
SYSTEM_DESIGN.md
uploads
*.log

coverage
.nyc_output

*.tsbuildinfo

.DS_Store
Thumbs.db

*.swp
*.swo
*~

.vscode
.idea
*.iml

*.pid
*.seed
*.pid.lock

.npm
.eslintcache
.node_repl_history

postgres_data
